<% provide(:class_text, 'basic3-info') %>
<% provide(:button_text, '所属長承認申請のお知らせ') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【<%= @user.name %>からの１ヶ月分の勤怠申請】</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= form_with(model: @user, url: update_basic3_info_user_path(@user), local: true, method: :patch) do |f| %>
          <form>
           <table class="table table-bordered table-condensed" id="table-attendances">
             <thead>
               <tr>
                 <td>月</td>
                 <td>指示者確認㊞</td>
                 <td>変更</td>
                 <td>勤怠を確認する</td>
               </tr>
               <tr>
                 <td></td>
                 <td>
                  <select>
                    <option>なし</option>
                    <option>申請中</option>
                    <option>承認</option>
                    <option>否認</option>
                  </select>
                 </td>
                 <td>
                  <%= f.label :remember_me, class: "checkbox inline", for: "remember_me" do %>
                    <%= f.check_box :remember_me, id: "remember_me" %>
                  <% end %>
                 </td>
                 <td>
                  <%= link_to "確認", "", class: "btn btn-primary" %>
                 </td>
               </tr>
             </thead>
           </table>
          </form>
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>