<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<% if flash[:notice] %>
  <div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
<% end %>

<div class="csv_holder">
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "CSVインポート", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1">
  <div class="row container">
    <div class="col-md-4 col-md-offset-8">
      <p>ユーザー名検索</p>
      <%= form_tag(users_path, :method => 'get' ) do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索', :name => nil %>
      <% end %>
    </div>
  </div>
</div>

  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th class="center"><%= User.human_attribute_name :department %></th>
        <% if current_user.admin? %>
          <th class="center"><%= User.human_attribute_name :basic_time %></th>
          <th class="center"><%= User.human_attribute_name :work_time %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>
  </table>

    <% @users.each do |user| %>
      <div>
        <p>
          <div class= "col-md-11 col-md-offset-1">
          <% if current_user.admin?  && !current_user?(user) %>
          <%= user.name %><br>
          <%= link_to "削除", user, method: :delete,
                                    data: { confirm: "削除してもよろしいですか？" },
                                    class: "btn btn-primary btn-default" %></br>
          <div class="panel-group">
            <div class="panel panel-dafault">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <button type="button" data-taggle="collapse" data-target="#collapse<% user.id %>" class="btn btn-primary btn-lg">編集</button>
                </h4>
              </div>
          </div>
          <% end %>
          </div>
        </p>
      </div>
    <% end %>
<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>